# File: .github/workflows/workflow.yml
on:
  push:
    branches:
      - master

name: planet-a-thon-deployment

jobs:
  deploy-on-okteto:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: context
        uses: okteto/context@latest
        with:
          token: ${{ secrets.OKTETO_TOKEN }}

      - name: "Activate Namespace"
        uses: okteto/namespace@latest
        with:
          namespace: opensrcerer

      - name: "Trigger the pipeline"
        uses: okteto/pipeline@latest
        with:
          name: planet-a-thon-deployment
          timeout: 8m
          skipIfExists: true
          filename: backend/docker-compose.yml